# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyd

# Virtual environments
env/
venv/
.venv/
.env/
.Python

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Testing
.pytest_cache/
.coverage
coverage.xml

# mypy
.mypy_cache/

# tox
.tox/

# IDEs and editors
.idea/
.vscode/

# macOS
.DS_Store

# PDM files
pdm.toml
pdm.lock
